$class-names: "moveFromRight", "moveFromLeft", "moveToRight", "moveToLeft"

@keyframes scaleUp
	0%
		transform: translateX(0) scale(0)
		webkit-transform: translateX(0) scale(0)
	100%
		transform: translateX(0) scale(1)
		webkit-transform: translateX(0) scale(1)

.item-slider
	position: relative
	margin-top: 30px
	height: 490px
	ul
		list-style-type: none
		position: absolute
		width: 100%
		left: 0
		bottom: 140px
		overflow: hidden
		text-align: center
		pointer-events: none
		&.item-current
			pointer-events: auto
		.no-js & // FOR MODERNIZR!
			position: relative
			left: auto
			bottom: auto
			margin: 0
			overflow: visible
		@each $class-name in $class-names
			&.item-#{$class-name} li
				animation: #{$class-name} 350ms ease-in-out both	
				@if $class-name == "moveToLeft" or $class-name == "moveFromRight"
					@for $i from 1 through 4
						&:nth-child(#{$i})
							animation-delay: #{-90+90*$i}ms
				@else 
					@for $i from 1 through 4
						&:nth-child(#{5 - $i*1})
							animation-delay: #{-90 +90*$i}ms
		li
			display: inline-block
			padding: 20px
			width: 20%
			max-width: 300px
			transform: translateX(600%)
			-webkit-transform: translateX(600%)
			transition: opacity .2s linear
			-webkit-transition: opacity .2s linear
			.no-js & // FOR MODERNIZR!
				transform: translateX(0)
			a, img
				display: block
				margin: auto
			a
				outline: none
				cursor: pointer
			img
				max-width: 100%
				border: none
			h4
				display: inline-block
				font-family: Baskerville, "Baskerville Old Face", Garamond, "Times New Roman"
				font-style: italic
				font-weight: 400
				font-size: 18px
				padding: 20px 10px 0
			&:hover
				opacity: .7
		&:first-child li, .no-js & li
			animation: scaleUp 350ms ease-in-out both
			@for $i from 1 through 4
				&:nth-child(#{$i})
					animation-delay: #{90*$i}ms
	nav
		position: relative
		top: 400px
		text-align: center
		max-width: 800px
		margin: 0 auto
		border-top: 5px solid #333
		.no-js &
			display: none
		a
			display: inline-block
			text-transform: uppercase
			letter-spacing: 5px
			padding: 40px 30px 30px 34px
			position: relative
			color: #888
			outline: none
			transition: color .2s linear
			-webkit-transition: color .2s linear
			&:hover, & .item-current
				color: #000
			&.item-selected:after,&.item-selected:before
				content: ''
				position: absolute
				top: -5px
				border: solid transparent
				height: 0
				width: 0
				pointer-events: none
			&.item-selected:after // Dodaje kontent przed i po "" ktory daje border
				border-color: transparent
				border-top-color: #fff
				border-width: 20px // ten jest nakladany po i jest bialy (zaslania czarny)
				left: 50%
				margin-left: -20px
			&.item-selected:before
				border-color: transparent
				border-top-color: #333
				border-width: 27px // szerszy i zasloniety przez to z after
				left: 50%
				margin-left: -27px



