.item-slider
	position: relative
	margin-top: 30px
	height: 490px
	ul
		list-style-type: none
		position: absolute
		width: 100%
		left: 0
		bottom: 140px
		overflow: hidden
		text-align: center
		pointer-events: none
		&.item-current
			pointer-events: auto
		.no-js & // FOR MODERNIZR!
			position: relative
			left: auto
			bottom: auto
			margin: 0
			overflow: visible
		li
			display: inline-block
			padding: 20px
			width: 20%
			max-width: 300px
			transform: translateX(600%)
			-webkit-transform: translateX(600%)
			transition: opacity .2s linear
			-webkit-transition: opacity .2s linear
			.no-js & // FOR MODERNIZR!
				transform: translateX(0)
			a, img
				display: block
				margin: auto
			a
				outline: none
				cursor: pointer
			img
				max-width: 100%
				border: none
			h4
				display: inline-block
				font-family: Baskerville, "Baskerville Old Face", Garamond, "Times New Roman"
				font-style: italic
				font-weight: 400
				font-size: 18px
				padding: 20px 10px 0
			&:hover
				opacity: .7
	nav
		position: relative
		top: 400px
		text-align: center
		max-width: 800px
		margin: 0 auto
		border-top: 5px solid #333
		.no-js &
			display: none
		a
			display: inline-block
			text-transform: uppercase
			letter-spacing: 5px
			padding: 40px 30px 30px 34px
			position: relative
			color: #888
			outline: none
			transition: color .2s linear
			-webkit-transition: color .2s linear
			&:hover, & .item-current
				color: #000
